*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bubble-container{
    width: fit-content;
    display: block;
}

.bubble{
    padding: 5px;
    font-size: small;
    border-radius: 25px;
    background-color: greenyellow;
}
.bubble-right{
    background-color: #DDA0DD;
}
.bubble-container-right{
    width: fit-content;
    display: block;
    margin-left: auto;
}
.userName{
    color: blue;
    padding: 11px;
} 
.time{
    font-size: smaller;
    color: grey;
    padding: 11px;
}
